python_image_crawler/images/
python_image_crawler/.idea/
python_image_crawler/__pycache__/utils.cpython-310.pyc
Seminar 1/19522492_19522542_19520954.zip
python_image_crawler/__pycache__/
dblp-xml-parser/.idea/
dblp-xml-parser/dblp.xml
dblp-xml-parser/dblp.db
